.mask{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  .loader {
    border: 5px solid #3498db;
    border-top: 5px solid rgb(204, 204, 204, 0);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Начальное положение */
  }
  100% {
    transform: rotate(360deg); /* Конечное положение */
  }
}